
*
{
	box-sizing: border-box;
	margin: 0px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	background-color: red;
	align-items: center;
	justify-content: space-between;
  }

body
{
    font-size: 16px;
    color: black;
    background-color: red;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

#menu
{
	font-size: 25px;
	margin-top: 20px;
}

/*#navbarSupportedContent
{
	align-items: center;
}*/

#dropitems
{
	background-color: sandybrown;
	/*width: 100vw !important;*/	
}

.TR 
{
	text-align: center;
	color: brown;
	background-color: lightblue;
	padding: 1px;
	border-style: 0.5px solid black;
}

p
{
	clear: right; 
	text-align: justify;
	font-style: italic;
}

section 
{
	background-color: #a19694;
	border-style: solid;
	margin-top: 20px;
	padding: 0;
}

@media(min-width: 768px)
{
	.column-md-12
	{
		width: 90%;
		height:1000px;
 	}

	h1
	{
		font-size: 40px;
		text-align: center;
	}

	p
	{
		padding: 20px;
	}

	section
	{
		height: 150%;
		margin-bottom: 40px;
    }
    
	.TR 
	{		
		font-size: 150%;
		height: 40px;
		width: 100%;
		padding: 5px;
	}
}

@media(min-width: 576px) and (max-width: 767px) 
{
	.column-sm-12
	{
		width: 90%;
	}

	h1
	{
		font-size: 30px;
		margin-bottom:25px;
		text-align: center;
	}

	p
	{
		height: 200%;
		padding: 15px;
	}

	section 
	{
		height: 1000px;
		margin-bottom: 30px;
	}

	.TR 
	{
		font-size: 140%;
		height: 35px;
		width: 100%;
		padding: 4px;
	}

}


@media(max-width: 575px) 
{ 
	.column-xs-12
	{
		width: 90%;
	}

	h1
	{
		font-size: 25px;
		margin-bottom:20px;
		text-align: center;
	}

	p
	{
		height: 200%;
		padding: 10px;
	}

	section 
	{
		width: 90%;
		height: 1000px;
		margin-bottom: 20px;
	}

	.TR 
	{
		font-size: 130%;
		height: 5%;
		width: 100%;
		padding: 3px;
	}
}


